/*
  gonzo-tools | align
  ============================== */

=align($align: (), $dir: row, $indent: 0)
  $flexMap: (left: flex-start, right: flex-end, top: flex-start, bottom: flex-end, middle: center)
  @if length($align) == 2
    $x: map-get($flexMap, nth($align, 1)) or nth($align, 1)
    $y: map-get($flexMap, nth($align, 2)) or nth($align, 2)
    display: flex
    flex-direction: $dir
    justify-content: if($dir == 'row', $x, $y)
    align-items: if($dir == 'row', $y, $x)
  @else
    @warn 'Invalid length of arguments \'#{length($args)}\' for grid() in selector \'#{&}\'.'
  @if $indent > 0
    > *:nth-child(n)
      margin-#{if($dir == row, bottom, right)}: $indent
    > *:#{if($x == right, first, last)}-child
      margin-#{if($dir == row, bottom, right)}: 0
