/*
  layout-tools | grid
  @mixin ============================= */
div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start; }
  div > *:nth-child(n) {
    flex: 0 0 calc((100% - 10px) / 2);
    margin: 0;
    margin-right: 10px;
    margin-top: 10px; }
  div > *:nth-child(-n+2) {
    margin-top: 0; }
  div > *:nth-child(2n) {
    margin-right: 0; }
