/*
  layout-tools | grid
  ============================== */

=grid($grid: (2), $spacing: 0, $dir: row, $wrap: wrap)
  $gridFluidValid: type-of($grid) == number and unitless($grid)
  $gridFixedValid: type-of($grid) == list and length($grid) == 2 and type-of(nth($grid, 1)) == number and unitless(nth($grid, 1)) and type-of(nth($grid, 2)) == number and unitless(nth($grid, 2))
  $gridValid: $gridFluidValid or $gridFixedValid
  @if not $gridValid
    @error 'Invalid grid \'#{$grid}\', must be a number or a list of two numbers.'
  $spacingValid: type-of($spacing) == number
  @if not $spacingValid
    @error 'Invalid spacing \'#{$spacing}\', must be a unit.'
  $dirValid: index(row col column, $dir) != null
  @if not $dirValid
    @error 'Invalid direction \'#{$dir}\', must be row, col or column.'
  $wrapValid: index(wrap nowrap, $wrap) != null
  @if not $wrapValid
    @error 'Invalid wrap \'#{$wrap}\', must be wrap or nowrap.'
  $isRow: $dir == row
  $isFixed: type-of($grid) == list and length($grid) == 2
  $gridX: if($isFixed, nth($grid, 1), $grid)
  $gridY: if($isFixed, nth($grid, 2), null)
  display: flex
  flex-direction: if($dir == col, column, $dir)
  flex-wrap: $wrap
  align-content: flex-start
  justify-content: flex-start
  overflow: if($isFixed or $wrap == nowrap, auto, null)
  > *:nth-child(n)
    flex: 0 0 if($spacing > 0, calc((#{100%} - #{(ceil($gridX) - 1)*$spacing}) / #{$gridX}), calc(#{100%/$gridX}))
    @if $isFixed
      #{if($isRow, height, width)}: if($spacing > 0, calc((#{100%} - #{(ceil($gridY) - 1)*$spacing}) / #{$gridY}), calc(#{100%/$gridY}))
    margin: 0
    margin-#{if($isRow, right, bottom)}: $spacing
    margin-#{if($isRow, top, left)}: if($wrap == wrap, $spacing, null)
    overflow: if($isFixed, auto, null)
  @if $wrap == wrap
    > *:nth-child(-n+#{$gridX})
      margin-#{if($isRow, top, left)}: 0
    > *:nth-child(#{$gridX}n)
      margin-#{if($isRow, right, bottom)}: 0
  @else
    > *:last-child
      margin-#{if($isRow, right, bottom)}: 0
